.top{
        display: flex;
        border-bottom-left-radius: 70px;
        height: 200px;
        width: auto;
        background-color: rgb(61, 90, 33);
      }
      .top-nav{
        display: flex;
        align-self: center;
        flex: 1;
        padding: 10px;
        height: 50px;
        border-radius: 45px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgba(36, 36, 36, 0.979)));
      }
      #top-nav-optn{
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        padding: 3px;
        border: 2px solid #06070E;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: larger;
        color: #06070E;
        transition: .2s;
      }
      
      
      #top-nav-optn:hover {cursor: pointer;background-color: #06070E;}
      #top-nav-optn:hover {color:#f1f1f1}
      
      #container-side-nav-btn {
      display: inline-block;
      cursor: pointer;
      align-self: center;
      margin-left: 5px;
      }
      #bar1, #bar2, #bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      #container-side-nav-btn:hover #bar1{
      background-color: #f1f1f1;
      }
      #container-side-nav-btn:hover #bar2{
      background-color: #f1f1f1;
      }
      #container-side-nav-btn:hover #bar3{
      background-color: #f1f1f1;
      }
      #icon{
        display: flex;
        flex-wrap: wrap;
        border-bottom-left-radius: 68px;
        border-top-right-radius: 70px;
        background-color: #06070E;
      }
      #title{
        display: flex;
        align-self: center;
        margin: 35px;
      }
      
      /*MID VIEW*/
      .mid{
        display:flex;
        flex:1;
        align-content:center;
        justify-content:center;
        border: 2px solid grey;
        height: auto;
        margin-top: 20px;
        border-radius: 30px;
      }
      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 8;
        left: 0;
        background-color: #06070E;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 18px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      #inputField{
        border-radius: 20px;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-content: center;
        max-width: 500px;
      }
      
      /*BOTTOM VIEW*/
      .bottom{
        border: 2px solid grey;
        height: auto;
        width: auto;
        margin-top: 20px;
        padding: 20px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        display: flex;
      }
      #bottom-left{
        padding: 10px;
        flex-grow: 1;
        border: 1px solid grey;
        border-left: hidden;
        border-top: hidden;
        border-bottom: hidden;
        height: auto;
        width: auto;
      }
      #bottom-right{
        padding: 10px;
        border: 1px solid grey;
        border-right: hidden;
        border-top: hidden;
        border-bottom: hidden;
        height: auto;
        width: auto;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }